<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style>
    [v-cloak] {
      display: none;
    }

    #app {
      width: 600px;
      margin: 10px auto;
    }

    .tb {
      border-collapse: collapse;
      width: 100%;
    }

    .tb th {
      background-color: #0094ff;
      color: white;
    }

    .tb td,
    .tb th {
      padding: 5px;
      border: 1px solid black;
      text-align: center;
    }

    .add {
      padding: 5px;
      border: 1px solid black;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
    <div id="app" v-cloak>
      <div class="add">
         编号:<input type="text" v-model="newData.id" ref="bianhao">
         品牌名称:<input type="text" v-model="newData.name">
          <input type="button" value="添加" @click="addData">
        </div>
      <div class="add">
         品牌名称:<input type="text" placeholder="请输入搜索条件" v-model="searchVal">
        </div>
      <div>
          <table class="tb">
              <tr>
                  <th>编号</th>
                  <th>品牌名称</th>
                  <th>创立时间</th>
                  <th>操作</th>
                </tr>
        <tr v-for="(item, index) in newList" :key="index">
          <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.ctime | fmtTime('/')}}</td>
                  <td>
            <a href="#" @click="deleteData(index)">删除</a>
          </td>
        </tr>
              <tr v-if="!newList.length">
                  <td colspan="4">没有品牌数据</td>
                </tr>
            
      </table>
        </div>
      </div>
    </body>

<script>
  Vue.filter('fmtTime', (param, seprator) => {
    const times = new Date(param)
    let year, month, date, result;
    year = times.getFullYear()
    month = (times.getMonth() + 1).toString().padStart(2, '0')
    date = (times.getDate()).toString().padStart(2, '0')
    result = year + seprator + month + seprator + date
    return result
  })

  var vm = new Vue({
    el: '#app',
    data: {
      searchVal: '',
      color: 'red',
      newData: {
        id: '',
        name: ''
      },
      list: [
        {
          id: 1,
          name: 'LV',
          ctime: new Date()
        },
        {
          id: 2,
          name: 'LG',
          ctime: new Date()
        },
        {
          id: 3,
          name: 'SONY',
          ctime: new Date()
        }
      ]
    },
    mounted() {
      this.$refs.bianhao.focus()
    },
    methods: {
      deleteData(i) {
        this.list.splice(i, 1)
      },
      addData() {
        this.list.push({
          id: this.newData.id,
          name: this.newData.name,
          ctime: new Date()
        })
      }
    },
    computed: {
      newList() {
        let tempList = this.list.filter(value => value.name.indexOf(this.searchVal) !== -1)
        return tempList
      }
    }
  })

</script>


</html>